@font-face {
    font-family: "InstrumentSerif";
    src: url(fonts/InstrumentSerif.ttf);
}

@font-face {
    font-family: "Jaldi";
    src: url(fonts/Jaldi.ttf);
}

:root {
    --lightGray: #D9D9D9;
    --midGray: #9A9898;
    --darkGray: #383434;
    --brownishGray: #645555;
}

* {
    font-family: "Jaldi";
}

body, html {
    margin: 0;
}

h1 {
    font-family: "InstrumentSerif";
    font-size: 40px;
    color: white;
    position: absolute;
    left: 10px;
}

#header {
    background-color: black;
    z-index: 2;
    position: absolute;
    height: 10vh;
    top: 0;
    width: 100%;
}

#navigation {
    display: block;
    background-color: var(--darkGray);
    width: 20vh;
    position: absolute;
    top: 10%;
    height: 100%;
    z-index: 1;
}

#navigation div {
    background-color: black;
    margin: 10px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#navigation div:hover {
    cursor: pointer;
    background-color: var(--lightGray);
    color: black;
    transition: 0.5s;
}

#indexBody {
    background-image: url(img/backgroundIndex.jpg);
    background-size: cover;
}